/* === GENERAL THEME == */

.container {
    width: 94vw;
    height: 85vh;
    border: 4px double var(--alt-accent);
    border-top: 0;
    border-radius: 4px;
    margin: 1em 3vw;
    padding: 0 2px 2px 2px;
    display: flex;
    justify-content: center;
}

.inner-container {
    height: 100%;
    width: 100%;
    padding: 0 1em 1em 1em;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-container {
    width: 50vw;
    height: 50vh;
    display: flex;
    flex-direction: column;
}

/* === CONTENT & FORM === */

form {
    width: 100%;
    height: 100%;
    margin-bottom: 1em;
}

fieldset {
    width: 100%;
    height: 100%;
    text-align: center;
    padding: 0 1em .75em 1em;
}

textarea {
    height: 100%;
    width: 100%;
    resize: none;
    background-color: transparent;
    color: var(--main-color);
    font-weight: 100;
    text-align: justify;
    text-indent: 4ch; /* char units for tab indent */
    border: 0;
}

