.container {
    width: 94vw;
    height: 85vh;
    border: 4px double var(--alt-accent);
    border-top: 0;
    border-radius: 4px;
    margin: 1em 3vw;
    padding: 0 2px 2px 2px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.innerContainer {
    height: 100%;
    width: 100%;
    padding: 0 1em 1em 1em;
    position: relative;
}

.auth-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

fieldset div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1em 1.5em 1em;
}

input::placeholder {
    font-size: .9rem;
    opacity: 50%;
}

input {
    background-color: transparent;
    border: 0;
    border-bottom: 1px solid var(--main-color);
    cursor: text;
    color: var(--main-color);
    font-weight: 200;
}

fieldset {
display: flex;
flex-direction: column;
padding-bottom: 1.5em;
padding-right: 1.5em;
}

button {
    width: 6em;
    align-self: flex-end;
    cursor: pointer;
}
