.container {
    min-width: 100vw;
    height: 80vh;
    border: 1px solid lime;
    border-top: 0;
    border-radius: 4px;
    margin: 1em;
    padding: 0 2px 2px 2px;
}

.content-wrapper {
    height: 100%;
    width: 100%;
    border: 1px solid lime;
    border-top: 0;
    border-radius: 0 4px;
    padding: 0 1em 1em 1em;
}
